# Server
PORT=3000
NODE_ENV=development

# Database
DATABASE_URL="postgresql://postgres:123456@localhost:5432/coffee_vibes"

# Auth
JWT_SECRET=tu_secreto_seguro_aqui
JWT_EXPIRES_IN=24h

# Mercado Pago
MP_ACCESS_TOKEN=APP_USR-APP_USR-bba233d2-cfef-41fb-84df-d928197d3711
MP_PUBLIC_KEY=APP_USR-APP_USR-3105000138348857-062119-6b92cb4ebbc5e8ee67637b4f8a86b1d7-3486812731

# Frontend
FRONTEND_URL=http://localhost:3001

# CORS
   CORS_ORIGIN=http://localhost:3001